/*Stylesheet for BasicCSSDemo1_Animation.html*/
body {
    background-color:rgba(245, 245, 220, 0.75);
}
h1 {
    color: rgba(0, 141, 165,1);
    margin-left: 100px;
    text-shadow: 1px .5px 4px rgba(0,0,0,.6);
}
.container {
    width:450px;
    height: 450px;
    background-color: #faebd7;
    border: 2px solid black; 
    border-radius: 5%;
    box-shadow:3px .5px 4px rgba(0, 141, 165,1);
}

/*SELECT ALL SQUARES IN THE ARRAY*/
.container .squares:nth-child(-n+4) {
    background-image: url(../Images/Icons/smile1.png);
    color: #fff;
    float: left;
    width: 100px;
    height: 100px;
    margin: 5px;
    border: 1px solid black;
    border-radius: 25%;
    cursor: pointer;
    transition: transform .5s ease-in-out;
}
/*SELECT ALL SQUARES PARAGRAPHS IN THE ARRAY*/
.squares:nth-child(-n+4) p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    margin: 0 auto;
    text-shadow: 2px 1px 4px rgba(0,0,0,.6);
}
/*INDIVIDUALLY SELECT A SQUARE IN THE ARRAY*/
.squares:nth-child(1) {
    background: #2420ff;
}
.squares:nth-child(2) {
    background: #ab3fdd;
}
.squares:nth-child(3) {
    background: #ae163e;
}
.squares:nth-child(4) {
    background: #00b200;
}
/*HOVER, TRANSLATE & TRANSFROM EFFECTS*/
.container .squares:nth-child(-n+4):hover {
    background-image: url("../Images/Icons/smile2.png");
    transform: scale(.5);
    animation-name: race;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(2.5,.2,.3,2);
}
.squares:nth-child(1):hover {
    background: #13b4ff;
}
.squares:nth-child(2):hover {
    background: #d861af;
}
.squares:nth-child(3):hover {
    background: #81205f;
}
.squares:nth-child(4):hover {
    background: #9deb0c;
}

/*ANIMATION EFFECTS*/
@keyframes race {
    0%, 100% {
        transform: translateY(0px);
        background-image: url("../Images/Icons/smile2.png");
    }
    50% {
        transform: translateY(300px);
    }
}
/*END ANIMATION:SQUARES*/

/*ANIMATION 2*/
.container2  {
    position: relative;
    animation-name: animation2;
    animation-duration: .75s;
    animation-timing-function: linear;
    animation-delay: ;
    animation-iteration-count: 6;
    animation-direction: alternate;
}

@keyframes animation2 {
    from {
        transform: translateX();
    }
    to {
        transform: translateX(400px);
    }
}